html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand";
    overflow-x: hidden;
}
hr {
    margin: 0px;
    padding: 0px;
    border: None;
    height: 2px ;
    background-color: rgba(120, 170, 215, 1);
    transform: rotateY(90deg);
    transition: all 250ms ease-in-out;
}
* {
    outline: None;
}
/*General Button Styles*/
.button, .TBButton {
    border: None;
    background-color: transparent;
    color: rgba(225, 225, 225, 1);
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
    transition: all 250ms ease-in-out;
    position: relative;
}
.button:hover {
    color: white;
}
.button:hover > hr {
    transform: rotateY(0deg);
}
.buttonClicked {
    background-color: rgba(120, 170, 215, 1) !important;
    transform: scale(1.1) !important;
    color: black !important;
}
.topBar {
    height: 30vh;
    width: 100wh;
    background-image: url("http://chrisvasterling.github.io/delongyearbooks/Files/Images/Other/Background/bk1.JPG");
    background-size: cover;
    background-position: center center;
    position: relative;
}
.topBarName {
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 10px 10px 40px;;
    position: relative;
    width: 35%;
    min-width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.menu {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0px;
}
.menuMainBtns {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}
.menuBtn {
    margin: 0px 10px 0px 10px;
    min-width: 75px;
    padding: 15px 5px 15px 5px;
}
.button::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: rotateY(90deg);
    opacity: 0;
    background-color: rgba(120, 170, 215, .25);
    transition: all 250ms ease-in-out;
}
.button:hover::before {
    opacity: 1;
    transform: rotateY(0deg);
    box-shadow: 0px 0px 10px black;
}
.toolBar {
    display: none;
}
.TBButton {
    position: relative;
    vertical-align: middle;
}
.TBButtonClicked > div:nth-child(1) {
    background-color: white !important;
}
.TBButtonClicked > div:nth-child(2) {
    background-color: blue !important;
}
.TBButtonClicked > div:nth-child(3) {
    background-color: red !important;
}
.TBButtonClicked > div {
    height: 8px !important;
    width: 35px !important;
    margin: 0px 3px 0px 3px !important;
}
#backBtn {
    padding: 10px;
    display: none;
}
#menuTog {
    position: relative;
    padding: 7px 2px 7px 2px;
    margin-right: 30px;
    display: inline-block;
}
#menuTog > div {
    height: 3px;
    width: 25px;
    margin: 5px 10px 5px 10px;
    background-color: white;
    transition: all 250ms ease-in-out;
}
#menuTog::before {
    transform: scale(.25) !important;
}
#menuTog:hover::before {
    transform: scale(1) !important;
}
#cover {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    z-index: 3;
    transition: all 200ms ease-in-out;
}
@media screen and (max-width: 700px) {
    .toolBar {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        line-height: 40px;
        background-color: rgba(0, 0, 0, .9);
        box-shadow: 0px 5px 10px black;
        padding: 5px 10px 5px 10px;
        z-index: 2;
    }
    .topBar {
        height: 35vh;
    }
    .topBarName {
        border-radius: 0px;
        width: 100%;
        text-align: center;
        min-width: None;
        padding: 10px 0px 10px 0px;
        box-shadow: 0px 5px 10px black;
    }
    .menu {
        position: fixed;
        top: 0px;
        right: -250px;
        height: 100%;
        width: 250px;
        max-width: 75%;
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 0px black;
        transition: all 300ms ease-in-out;
        z-index: 3;
    }
    .menuOpen {
        right: 0px !important;
        box-shadow: -5px 0px 10px black !important;
    }
    .menuMainBtns {
        padding: 0px;
        text-align: center;
    }
    .menuBtn {
        display: inline-block;
        width: 80%;
        margin: 5px 15px 5px 15px;;
    }
    @supports (flex: 1) {
        .toolBar {
            display: flex;
        }
        #backBtn {
            display: block;
        }
    }
}