html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand";
    overflow-x: hidden;
}
hr {
    margin: 0px;
    padding: 0px;
    border: None;
    height: 2px ;
    background-color: rgba(120, 170, 215, 1);
    transform: rotateY(90deg);
    transition: all 250ms ease-in-out;
}
* {
    outline: None;
}
a, a:visited {
    color: blue;
    text-decoration: none;
    font-family: Lato;
    font-family: "Quicksand"
}
/*General Button Styles*/
.button, .TBButton {
    border: None;
    background-color: transparent;
    color: rgba(225, 225, 225, 1);
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
    transition: all 250ms ease-in-out;
    position: relative;
}
.button:hover {
    color: white;
}
.button:hover > hr {
    transform: rotateY(0deg);
}
.buttonClicked {
    background-color: rgba(120, 170, 215, 1) !important;
    transform: scale(1.1) !important;
    color: black !important;
}

.topBar {
    height: 30vh;
    width: 100vw;
    min-height: 200px;
    background-image: url("http://chrisvasterling.github.io/delongyearbooks/Files/Images/Other/Background/bk1.JPG");
    background-size: cover;
    background-position: center center;
    position: relative;
}
.topBarName {
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 10px 10px 40px;;
    position: relative;
    width: 35%;
    min-width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.menu {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0px;
}
.menuMainBtns {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}
.menuMobileBtns {
    display: none;
}
.NHSLogo {
    display: inline-block;
    width: calc(100% - 10px);
    padding: 5px;
    box-shadow: 0px 0px 5px 5px white;
    background-color: white;
    margin-bottom: 10px;
}
.menuBtn {
    margin: 0px 10px 0px 10px;
    min-width: 75px;
    padding: 15px 5px 15px 5px;
}
.button::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: rotateY(90deg);
    opacity: 0;
    background-color: rgba(120, 170, 215, .25);
    transition: all 250ms ease-in-out;
}
.button:hover::before {
    opacity: 1;
    transform: rotateY(0deg);
    box-shadow: 0px 0px 10px 0px black;
}
.toolBar {
    display: none;
}
.TBButton {
    position: relative;
    vertical-align: middle;
}
.TBButtonClicked > div:nth-child(1) {
    background-color: rgb(255, 255, 255) !important;
}
.TBButtonClicked > div:nth-child(2) {
    background-color: rgb(0, 57, 166) !important;
}
.TBButtonClicked > div:nth-child(3) {
    background-color: rgb(213, 43, 30) !important;
}
.TBButtonClicked > div {
    height: 8px !important;
    width: 35px !important;
    margin: 0px 3px 0px 3px !important;
}
#backBtn {
    padding: 10px;
    display: none;
}
#menuTog {
    position: relative;
    padding: 7px 2px 7px 2px;
    margin-right: 30px;
    display: inline-block;
}
#menuTog > div {
    height: 3px;
    width: 25px;
    margin: 5px 10px 5px 10px;
    background-color: white;
    transition: all 250ms ease-in-out;
}
#menuTog::before {
    transform: scale(.25) !important;
}
#menuTog:hover::before {
    transform: scale(1) !important;
}
#cover {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 150, 150, .6);
    opacity: 0;
    z-index: 3;
    transition: all 200ms ease-in-out;
}

.openSearchBtn {
    background-color: rgba(0, 0, 0, .8);
    height: auto;
    display: inline-block;
    margin: 15px;
    font-size: 15px;
    color: white;
    padding: 10px;
}
.openSearchBtnClicked::before {
    opacity: 1;
    transform: rotateY(0deg);
    box-shadow: 0px 0px 10px black !important;
}
.openSearchBtnClicked > hr {
    transform: rotateY(0deg);
}
.searchWindow {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 150, 150, .6);
    z-index: 100;
    opacity: 0;
    display: none;
    transition: all 300ms ease-in-out;
    text-align: center;
    color: white;
}
.searchWindowBKBar {
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}
.searchNavBoxes {
    display: flex;
}
.searchBox {
    width: calc(90% - 20px);
    height: calc(100% - 40px);
    background-color: rgba(35, 35, 35, .8);
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.searchNav {
    font-size: 0px;
    display: inline-block;
}
.searchButton {
    padding: 5px 10px 5px 10px !important;
    margin: 5px;
}
.searchTextBox {
    padding: 10px;
    margin: 5px;
    flex: 1;
}
.searchTextBox > hr {
    transform: rotateY(0deg) !important;
}
.searchTextBoxClicked {
    background-color: rgba(120, 170, 215, 1) !important;
}
.searchTextBox > input {
    width: 100%;
    padding: 5px;
    margin: 0px;
    border: None;
    font-size: 20px;
    background-color: transparent;
    color: white;
    font-family: "Roboto";
}
.searchTextBoxClicked > input {
    color: black !important;
}
#searchRefineItems {
    opacity: 0;
    display: none;
    transition: all 250ms ease-in-out;
    position: relative;
    padding: 5px;
}
.searchResultSection {
    margin: 10px 0px 10px 0px;;
    background-color: rgba(35, 35, 35, .8);
    display: none;
}
.searchResultSectionTitle {
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
    padding: 7px;
    margin-bottom: 10px;
}
.searchResultSectionPages {
    padding: 10px;
}

.searchResultSectionImgCont {
    display: inline-block;
    margin: 10px;
    max-width: calc(100% - 20px);
    position: relative;
    font-size: 0px;
    cursor: pointer;
}
.searchResultSectionImgCont::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgb(120, 170, 215, .25);
    transform: rotateX(90deg);
    transition: all 250ms ease-in-out;
}
.searchResultSectionImgCont:hover::before {
    background-color: rgba(120, 170, 215, .25);
    box-shadow: 0px 0px 10px 0px black;
    transform: rotateX(0deg);
}
.searchResultSectionImgContClicked {
    z-index: 10;
}
.searchResultSectionImgContClicked::before {
    background-color: rgba(120, 170, 215, 1) !important;
    box-shadow: 0px 0px 10px 0px black !important;
}
.searchResultSectionImg {
    max-height: 250px;
    max-width: 100%;
    height: auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    transition: all 250ms ease-in-out;
}
.searchResultSectionImgCont:hover > .searchResultSectionImg {
    border-radius: 0px;
    box-shadow: 0px 0px 0px black;
}
.CBcontainer {
    display: inline-block;
    font-family: "Roboto";
    min-height: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 0px;
}
.CBbox {
    position: relative;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border: 2px solid rgba(120, 170, 215, 1);
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transition: all 250ms ease-in-out;
}
.CBboxInner {
    height: 100%;
    width: 100%;
    background-color: rgba(120, 170, 215, 0);
    transform: scale(0);
    transition: all 250ms ease-in-out;
}
.CBboxInnerChecked {
    background-color: rgba(120, 170, 215, 1);
    transform: scale(.75);
}
.CBtext {
    position: relative;
    line-height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    font-size: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    text-align: center;
}
@media screen and (max-width: 700px) {
    .topBar {
        background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/411282_354228451291978_1028640939_o.jpg?_nc_cat=0&oh=7168533fad9ed3b6a1de5a3240b64f35&oe=5BDF371F")
    }
    .toolBar {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        line-height: 40px;
        background-color: rgba(0, 0, 0, .9);
        box-shadow: 0px 5px 10px black;
        padding: 5px 10px 5px 10px;
        z-index: 2;
    }
    .topBar {
        height: 35vh;
    }
    .topBarName {
        border-radius: 0px;
        width: calc(100% - 20px);
        text-align: center;
        min-width: 0px;
        padding: 10px;
        box-shadow: 0px 5px 10px black;
    }
    .menu {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 250px;
        max-width: 75%;
        background-color: rgba(35, 35, 35, .95);
        box-shadow: 0px 0px 0px black;
        transition: all 300ms ease-in-out;
        z-index: 3;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        font-size: 0px;
        right: -250px;
        transform: translate3d(0px, 0px, 0px)
    }
    .menuOpen {
        right: 0px !important;
        box-shadow: -5px 0px 10px rgb(35, 35, 35) !important;
        transform: translate3d(0px, 0px, 0px)
    }
    .menuMainBtns, .menuMobileBtns {
        padding: 0px;
        display: block;
    }
    .menuBtn {
        display: inline-block;
        width: 80%;
        margin: 5px 15px 5px 15px;;
    }
    .searchTextBox {
        padding: 5px;
    }
    .searchTextBox > input {
        font-size: 17px;
    }
    .searchWindowBKBar:nth-child(1) {
        background-color: rgba(255, 255, 255, .25);
        top: 0px;
    }
    .searchWindowBKBar:nth-child(2) {
        background-color: rgba(0, 57, 166, .25);
        top: calc(100%/3);
    }
    .searchWindowBKBar:nth-child(3) {
        background-color: rgba(213, 43, 30, .25);
        bottom: 0px;
    }
    .searchResultSectionTitle {
        font-size: 17px;
        background-color: rgba(120, 170, 215, 1);
        color: black;
    }
    .searchResultSectionImg {
        max-height: 300px;
    }
    .searchResultSectionPages {
        padding: 10px 0px 10px 0px;
    }
    .CBcontainer {
        margin: 5px;
    }
    @supports (flex: 1) {
        .toolBar {
            display: flex;
        }
        #backBtn {
            display: block;
        }
    }
}